body{
    background-color:white;
    color:black;
    margin-left: 550px;
    padding-top: 200px;
    justify-content: space-between;
    display:inline-block;
}
.black_c1{
 display:inline-block;
padding:15px;
border-radius: 7px;
font-size: 20px;
background-color: black;
color: white;
}
.home_c1{
display:inline-block;
padding:15px;
border-radius: 7px;
font-size: 20px;
background-color: black;
color: white;
}
.cont2{
box-shadow: 0 10px 20px;
width:0 50px;
display: inline-block;
align-items: center;
padding:40px;
}
.black_c1:hover{
    background-color:burlywood;
}
.home_c1:hover{
background-color: burlywood;
}