/* universal selector to make it align every aspect of webpage with this values  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.nav {
    text-align: center;/*make text center*/
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.buttons {
    margin-top: 20px;
}

.btn {
    background-color: lightblue;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: blue;
}

.black-background {/*this block for black webpage*/
    background-color: black;
    color: white;
}

.white-background {/*this block for white webpage*/
    background-color: white;
    color: black;
}
