img{
    width: 400px;
    height: 400px;
} 


.wrapper .button {
    display: inline-flex;
    align-items: center;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.wrapper .button .icon {
    font-size: 24px;
    margin-right: 10px;
    transition: color 0.3s, transform 0.3s;
}

.wrapper .button:hover .icon {
    color: #050505; 
    transform: scale(1.1);
}

.wrapper .button span {
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s;
}

.wrapper .button:hover {
    background-color: hsl(0, 0%, 100%); 
}

.wrapper .button:nth-child(2):hover {
    background-color: #326e8e; 
}

.wrapper .button:nth-child(3):hover {
    background-color: #933893; 
}



caption{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    align-items: center;
}

footer{
    align-items: center;
    text-align: center;
}


nav{
    position: relative;
    font-family: 'Poppins' ,sans-serif;
    padding: 0 10px;
    font-style: italic;
    color: rgb(26, 103, 103);
    
}

nav:after{
    content: "";
    position: absolute;
    background-color: rebeccapurple;  
    height: 3px;
    width: 0;
    left: 0;  
    bottom: -10px;
    transition: 0.3s;
}

nav:hover:after{
    width: 100%;
}

.Heading{
    position: relative;
    font-family: 'Poppins' , 'Times New Roman', Times, serif;
    padding: 0 10px;
    font-style: italic;
    font-weight: bold;
    color: rgb(0, 0, 0);
    color: black;
    
}

h1:after{
    content: "";
    position: absolute;
    background-color: rgb(186, 145, 228);  
    height: 3px;
    width: 0;
    left: 0;  
    bottom: -10px;
    transition: 0.3s;
}

h1:hover:after{
    width: 100%;
}

.click{
    color: white;
}


.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg,);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black ;
    margin-top: -280px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: black;
}


.pagination .btn1, .pagination .btn2 {
    background-color: #fff;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.pagination .btn1 img, .pagination .btn2 img {
    width: 12px;
    height: 12px;
    margin-right: 8px;
    transform: rotate(0deg);
}


.pagination .btn2 img {
    transform: rotate(180deg);
}


.pagination .point {
    list-style-type: none;
    padding: 0;
    display: flex;
    color: black;
}

.pagination .point li {
    display: inline;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    cursor: pointer;
    color: black;
}


.pagination .point li.active {
    color: #fff; 
    width:24px;
    height: 24px;
    text-align: center;
    background-image: linear-gradient(#ff4568, #ff4568);
    background-repeat: no-repeat;
}


