table {
    width: 50%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}
tr:nth-child(even) {
    background-color: #FFAD60;
}
tr:nth-child(odd) {
    background-color: #96CEB4;
}
th {
    background-color: #A02334;
    color: white;
}

#table {
     width: 50%;
     border-collapse: collapse;
 }
 .th, .td {
     padding: 10px;
     text-align: left;
     border: 1px solid #ddd;
 }
 .tr:nth-child(2) .td:nth-child(1) {
    background-color: #36BA98;
 }
 .tr:nth-child(3) .td:nth-child(2) {
    background-color: #36BA98; 
 }
 .tr:nth-child(4) .td:nth-child(3) {
    background-color: #36BA98; 
 }
 .tr:nth-child(5) .td:nth-child(4) {
    background-color: #36BA98; 
}
.tr:nth-child(2) .td:nth-child(2) {
    background-color: #E9C46A;
 }
 .tr:nth-child(3) .td:nth-child(3) {
    background-color: #E9C46A; 
 }
 .tr:nth-child(4) .td:nth-child(4) {
    background-color: #E9C46A; 
 }
 .tr:nth-child(5) .td:nth-child(5) {
    background-color: #E9C46A; 
 }
 .tr:nth-child(2) .td:nth-child(3) {
    background-color: #F4A261;
 }
 .tr:nth-child(3) .td:nth-child(4) {
    background-color: #F4A261; 
 }
 .tr:nth-child(4) .td:nth-child(5) {
    background-color: #F4A261; 
 }
 .tr:nth-child(2) .td:nth-child(0) {
    background-color: #E76F51; 
 }
 .tr:nth-child(3) .td:nth-child(1) {
    background-color: #E76F51; 
 }
 .tr:nth-child(4) .td:nth-child(2) {
    background-color: #E76F51; 
 }
 .tr:nth-child(5) .td:nth-child(3) {
    background-color: #E76F51; 
 }
 
 .tr:nth-child(3) .td:nth-child(0) {
    background-color: #FFB200; 
 }
 .tr:nth-child(4) .td:nth-child(1) {
    background-color: #FFB200;
 }
 .tr:nth-child(5) .td:nth-child(2) {
    background-color: #FFB200;
 }
 
 .tr:nth-child(5) .td:nth-child(1) {
    background-color: #E4003A;
 }
 .tr:nth-child(2) .td:nth-child(4) {
    background-color: #B60071; 
 }